/.phpunit.cache
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
